<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Neo4j社交网络</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">Neo4j社交网络</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">标签1</a></li>
      <li class="layui-nav-item"><a href="">标签2</a></li>
      <li class="layui-nav-item"><a href="">标签3</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">标签4</a>
        <dl class="layui-nav-child">
          <dd><a href="">标签5</a></dd>
          <dd><a href="">标签6</a></dd>
          <dd><a href="">标签7</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            {{ username }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退出</a></li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">Node</a>
          <dl class="layui-nav-child">
{#            <dd><a href="user/personNode" target="if1">Person</a></dd>#}
            <dd><a href="../user/chart" target="if1">All</a></dd>
            <dd><a href="../node/personchart" target="if1">Person</a></dd>
            <dd><a href="../node/addresschart" target="if1">Adress</a></dd>
            <dd><a href="../node/companychart" target="if1">Company</a></dd>

          </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;">Relatioship</a>
          <dl class="layui-nav-child">
            <dd><a href="../relationship/personchart" target="if1">All</a></dd>
            <dd><a href="../relationship/test" target="if1">Test</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>

          </dl>
        </li>
        <li class="layui-nav-item" ><a href="javascript:newTab('../relationship/test','详情')" >一级菜单</a></li>
        <li class="layui-nav-item"><a href="">一级菜单</a></li>
      </ul>
    </div>
  </div>

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">内容主体区域</div>
    <iframe id="if1" name="if1" src="" style="width: 100%; height: 100%;"></iframe>
  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
    var element = layui.element;
    element.tabAdd('demo', {
      title: '选项卡的标题'
      ,content: '选项卡的内容' //支持传入html
      ,id: '选项卡标题的lay-id属性值'
    });
});

    function newTab(url, tit) {
        if (top.layui.index) {
            top.layui.index.openTabsPage(url, tit)
        } else {
            window.open(url)
        }
    }



</script>
</body>
</html>